NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=savia-27690.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=savia-27690
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=savia-27690.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
